<head>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<h1>Main#first</h1>
<p>Find me in app/views/mindleaps_analytics/main/first.html.erb</p>
<%#= @series4 %>


<table>
  <tr>
    <td>
      <%= label_tag :chapter_select, "Chapter" %>
      <%= select_tag :chapter_select, options_from_collection_for_select(Chapter.all, :id, :chapter_name, @selected_chapter) %>
    </td>
    <td>
      <%= label_tag :group_select, "Group" %>
      <%= select_tag :group_select, options_from_collection_for_select(Group.all, :id, :group_name, @selected_group) %>
    </td>
    <td>
      <%= label_tag :student_select, "Student" %>
      <%= select_tag :student_select, options_from_collection_for_select(Student.all, :id, :first_name, @selected_student) %>
    </td>
  </tr>
</table>

<p>
<div id="chart2" style="width:100%; height:400px;"></div>
</p>

<p>
<div id="chart4" style="width:100%; height:400px;"></div>
</p>

<p>
<div id="chart5" style="width:100%; height:400px;"></div>
</p>

<p>
<div id="chart6" style="width:100%; height:400px;"></div>
</p>

<p>
<div id="chart8" style="width:100%; height:400px;"></div>
</p>

<p>
<div id="chart9" style="width:100%; height:400px;"></div>
</p>

<script>
    $('#group_select').change(function () {

        var selectedGroup = $('#group_select :selected').val();
//        console.log(selectedGroup)

        $.ajax({
            url: '<%=find_update_students_path%>',
            type: 'GET',
            dataType: 'json',
            data: {
                group_id: selectedGroup
            },
            success: function (data) {
                var students = data.students;
                debugger;

                $('#student_select').empty();
                for (i = 0; i < students.length; i++) {
                    var student = students[i];

                    var opt = document.createElement('option');
                    opt.text = student.last_name + ', ' + student.first_name;
                    opt.value = student.id;

                    $('#student_select').append(opt, null);
                }
            },
            error: function (data) {
                debugger;
            }
        });
    });

    $(function () {

        var Chart2 = Highcharts.chart('chart2', {
            chart: {
                type: 'column'
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: '<%= t(:title_chart_2)%>'
            },
            xAxis: {
                title: {
                    text: '<%= t(:month) %>'
                },
                categories: <%= @x_axis2.inspect.html_safe %>
            },
            yAxis: {
                title: {
                    text: '<%= t(:nr_of_assessments) %>'
                }
            },
            series: [{
                name: '<%= t(:nr_of_assessments) %>',
                data: <%= @y_axis2 %>
            }]
        });

        var Chart4 = Highcharts.chart('chart4', {
            chart: {
                type: 'column'
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: '<%= t(:title_chart_4)%>'
            },
            xAxis: {
                title: {
                    text: '<%= t(:performance) %>'
                }
            },
            yAxis: {
                title: {
                    text: '<%= t(:frequency_perc) %>'
                }
            },
            series: <%= @series4.html_safe %>
        });

        var Chart5 = Highcharts.chart('chart5', {
            chart: {
                type: 'column'
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: '<%= t(:title_chart_5)%>'
            },
            xAxis: {
                title: {
                    text: '<%= t(:performance_change) %>'
                }
            },
            yAxis: {
                title: {
                    text: '<%= t(:frequency_perc) %>'
                }
            },
            series: <%= @series5.html_safe %>
        });

        var Chart6 = Highcharts.chart('chart6', {
            chart: {
                type: 'column'
            },
            legend: {
                enabled: true
            },
            credits: {
                enabled: false
            },
            title: {
                text: '<%= t(:title_chart_6)%>'
            },
            xAxis: {
                title: {
                    text: '<%= t(:performance_change) %>'
                }
            },
            yAxis: {
                title: {
                    text: '<%= t(:frequency_perc) %>'
                }
            },
            series: <%= @series6.html_safe %>
        });

        var Chart8 = Highcharts.chart('chart8', {
            chart: {
                type: 'scatter'
            },
            legend: {
                enabled: true
            },
            credits: {
                enabled: false
            },
            tooltip: {
                valueDecimals: 2
            },
            title: {
                text: '<%= t(:title_chart_8)%>'
            },
            xAxis: {
                title: {
                    text: '<%= t(:nr_of_lessons) %>'
                }
            },
            yAxis: {
                title: {
                    text: '<%= t(:performance)%>'
                }
            },
            series: <%= @series8.html_safe %>
        });

        var Chart9 = Highcharts.chart('chart9', {
            chart: {
                type: 'scatter'
            },
            legend: {
                enabled: true
            },
            credits: {
                enabled: false
            },
            tooltip: {
                valueDecimals: 2,
                formatter: function () {

                    return "<span style='color:" + this.color + ";'>\u25CF</span><span style='font-size: smaller'> " + this.series.name + "</span><br/>"
                        + this.point.name + "<br/>"
                        + "x: <b>" + this.x + "</b><br/>"
                        + "y: <b>" + Highcharts.numberFormat(this.y, 2) + "</b>";
                },
                useHTML: true
            },
            title: {
                text: '<%= t(:title_chart_9)%>'
            },
            xAxis: {
                title: {
                    text: '<%= t(:nr_of_lessons) %>'
                }
            },
            yAxis: {
                title: {
                    text: '<%= t(:performance) %>'
                }
            },
            series: <%= @series9.html_safe %>
        });
    });
</script>
