<p id="notice"><%= notice %></p>

<h1>Regression Parameters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regression_parameters.each do |regression_parameter| %>
      <tr>
        <td><%= regression_parameter.name %></td>
        <td><%= regression_parameter.value %></td>
        <td><%= link_to 'Show', regression_parameter %></td>
        <td><%= link_to 'Edit', edit_regression_parameter_path(regression_parameter) %></td>
        <td><%= link_to 'Destroy', regression_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regression Parameter', new_regression_parameter_path %>
