<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @regression_parameter.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @regression_parameter.value %>
</p>

<%= link_to 'Edit', edit_regression_parameter_path(@regression_parameter) %> |
<%= link_to 'Back', regression_parameters_path %>
